/* You can add global styles to this file, and also import other style files */
body  {
    background-image: url("https://wallpapermemory.com/uploads/366/light-blue-background-full-hd-431954.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
  }